version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
  - package-ecosystem: rust-toolchain
    directory: /
    schedule:
      interval: monthly
  - package-ecosystem: cargo
    schedule:
      interval: monthly
    directories:
      - /
      - /crates/*
