# General

**/.artifacts/data
**/.cache
**/.docker/data

*.csv
*.csv.*

*.db
*.db.*

*.db-*.*

*.lock
*.lock.*

*-lock.*

*.log
*.log.*

*.zip
*.zip.*

## Operating Systems

### NixOS
!flake.lock

### Windows (WSL2)
**/*:Zone.Identifier

# Configuration Files

**/.config/*.config.*
!**/default.config.*
!**/docker.config.*

*.env
*.env.*

!**/default.env
!**/example.env

## Development Environments
**/.direnv/

### JetBrains IDEs
**/.idea/

*.iml
*.iml.*

### Visual Studio Code
**/.vscode/*

!**/.vscode/settings.json

# Language Specific

## Rust
**/debug/
**/target/

*.bk
*.bk.*

!**/Cargo.lock

## Python
**/__pycache__/
**/.pytest_cache/
**/venv/

*.egg
*.egg.*

*.egg-info

*.pyc
*.pyc.*

*.pyo
*.pyo.*

*.pyz
*.pyz.*

*.pyzw
*.pyzw.*

*.whl
*.whl.*


## Node
**/build/
**/debug/
**/dist/
**/node_modules/

### Frameworks

#### Next.js
**/.next/

#### SvelteKit
**/__sapper__/
**/.DS_STORE/
**/.svelte-kit/

#### Supabase
**/.supabase/
**/supabase/tmp/

#### Vercel
**/.vercel/
**/.vercel_build_output/
